body {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Merienda', cursive;
    font-size: 1.2em;
}

h1 , p {
    text-align: center;
}

div.col-sm-12 {
    text-align: left;
    background: transparent; 
}

#dj-name, #player-guess {
    font-size: 2em;
}

img {
    visibility: hidden;
}

