body {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Merienda', cursive;
    font-size: 1.2em;
}

.jumbotron {
    text-align: center;
    background: transparent;
}

div.col-sm-12 {
    text-align: left;
}

#dj-name, #player-guess {
    font-size: 2em;
}